#header{
    width:100%;
    height:100vh;
    background-image: url('../../../public/Aarti-tak-portfolio-img.png');
    background-size: cover;
    background-position:right center;
  }
  .header-text p{
       font-family:'Arial, sans-serif',;
       color:grey;
       font-weight:bold;
      
  }
  #last-words{
    color:white;
  }
  .container{
    padding:10px 10%;
  }
  nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  nav h1::first-letter{
    color:#0087ca;
  }
  nav ul li{
    display:inline-block;
    list-style:none;
    margin:10px 20px;
    text-transform: capitalize;
  
  }
  nav ul li a {
    font-size: 20px;
    text-decoration: none;
    position: relative;
  }
  nav ul li button
  {
    display:none;
  }
  
  nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transition: transform 0.25s ease-out;
  }
  
  nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .header-text{
    margin-top:20%;
    font-size:20px;
  }
  
  .header-text h1{
    font-size:60px;
  }
  .header-text h1 span{
    color:#0087ca;
  }
  nav button{
    display:none;
  }
  .side-panel button{
    display:none;
  }
  .side-panel nav ul{
    display:none;
  }
  
  @media (max-width: 768px) {
    #header {
      height:100vh;
      background-image: url('../../../public/portfolio.jpg');
  
    }
    .side-panel {
      position: fixed;
      top: 0;
      right: 0;
      width: 200px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      transition: transform 0.3s ease-in-out;
      transform: translateX(100%);
    }
    .side-panel button{
      display:block;
    }
    .side-panel nav ul{
      display:block;
    }
  
    .side-panel.open {
      transform: translateX(0);
    }
    
    .side-panel button {
      position: absolute;
      top: 10px;
      left: 10px;
      background: none;
      border: none;
      font-size: 30px;
      color: white;
      cursor: pointer;
    }
    
    nav ul{
      display:flex;
      flex-wrap: nowrap;
      flex-direction: column;
  
    }
    .side-panel.open nav ul{
      margin-top: 80px;
    }
    nav ul li{
      display: none;
      margin-top:20px;
    }
    .header-text p{
      margin-left: 35%;
      margin-bottom:0;
    }
    .header-text h1{
      font-size:20px;
      margin-left: 35%;
    }
    nav button{
      display:block;
      font-size: 20px;
      cursor: pointer;
      background-color: #111;
      color: white;
      padding: 10px 15px;
      border: none;
    }
    nav button:hover {
      background-color:#444;
    }
    .container{
      padding:1px 2%;
    }
    .side-panel nav{
      display:block;
    }
    .side-panel nav ul li{
      display:block;
    }
    
  }